In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -0.218587 -0.209509
1    a  two -1.243905  0.554012
2    b  one  0.609451 -1.760953
3    b  two  0.795070 -1.123020
4    a  one -0.084955 -0.329001

In [3]:
df.groupby(["key1","key2"])[["data1","data2"]].max()

              data1     data2
key1 key2
a    one  -0.084955 -0.209509
     two  -1.243905  0.554012
b    one   0.609451 -1.760953
     two   0.795070 -1.123020